@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #ffff;
}

.details-container {
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: black;
    margin-top: 98px;
}

.price-container {
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: black;
    margin-top: 1px;
}

.taxes-container {
    font-style: bolder;
    font-weight: 1000;
    font-size: calc(10px + 1.5vmin);
    color: rgba(0, 0, 0, 0.33);
    text-align: center;
    margin: 0;
}

.make-payment-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 90%;
    background-color: #EE7E16;
    box-shadow: 0px 1px 1px #EE7E16;
    border-radius: 6px;
    color: #FFFFFF;
}

.make-payment-btn-container h5 {
    font-weight: 1000;
    font-size: calc(10px + 1.5vmin);
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 11px;
    width: 100%;
}


.program-container{
    margin: 0;
    margin-top: 11px;
    height: 383px;
    background-color: #E5EDEF;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(128, 170, 166, 0.2);
}
.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.name-container h4{
    font-weight: 1000;
    font-style: bolder;
    margin-top: 7px;
    font-size: calc(8px + 2vmin);
}
.name-program{
    display: flex;
    width: 100%;
    margin: 0;
  }
  .name-program h5 {
    font-size: calc(3px + 2.8vmin);
  }
  
  .name-program i {
    font-size: calc(10px + 2.5vmin);
    margin-right: 10px;
  }
  .line-container{
    height: 302px;
    border-left: 0.5px solid #494949;
    transform: translateX(13%);
    margin-top: 10px;
  }
  .detail-travel{
    font-size: calc(5px + 2.5vmin);
    height: 302px;
  }


.footer-container {
    margin: 0;
    margin-top: 2px;
    padding-top: 15px;
    background-color: #FFFFFF;
}

.footer .fa-solid {
    font-size: calc(5% + 7vmin);
    cursor: pointer;
}

.footer h5 {
    font-size: calc(50% + 1.5vmin);
}