@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto';
}

body {
  margin: 0;
  margin-top: 10px;
  box-sizing: border-box;
  background: #ffff;
}


h1 {
  font-size: calc(5% + 7vmin);
  margin-top: 51px;
  font-weight: 1000;
}

.data-container{
  margin-bottom: 10px;
  border: 2px solid #B5AB9B;
  border-radius: 6px;
  width: 98%;

}
.sub-data-container{
  height: 66px;
  width: 100%;
  margin: 0;

}
.sub-data-container i {
  display: flex;
  justify-content: right;
  font-size: 40px;
}
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-top-container i{
  font-size: calc(10px + 1vmin);
}
.sub-data-container h5 {
  font-size: calc(5px + 1vmin);
}

.image-container {
  height: 544px;
  flex-grow: 1;
  margin-bottom: 14px;
}
.image-container img{
  min-width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  block-size: 100%;
}

.name {
width: 73%;
margin: auto;
margin-top: 14px;
margin-bottom: 10px;
}
.name h5{
  font-size: calc(10px + 2vmin);
  margin: 0;
  font-weight: 1000;
  font-style: bolder;
  }


.select-company-container {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .select-company-container input {
    color: #333;
    background-color: transparent;
    border: none;
    border-bottom: #000000 1px solid;
    font-family: 'Roboto';
    font-size: calc(5% + 3vmin);
    font-weight: normal;
    width: 70%;
    align-items: center;
    outline: none;
  }
  
  .select-company-container i {
    position: absolute;
    font-size: calc(5% + 4vmin);
    right: 15%;
  }
  
  .select-company-container ::placeholder {
    color: #505050;
  }
  
  .book-container {
    margin: 0;
    margin-top: 0px;
    height: 53px;
    width: 100%;
    background-color: #EE7E16;
    box-shadow: 0px 1px 1px #EE7E16;
    border-radius: 6px;
    cursor: pointer;
  }
  
  
  
  .footer-container {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-top: 2px;
    padding-top: 15px;
    background-color: #FFFFFF;
  }
  
  .footer .fa-solid {
    font-size: calc(5% + 7vmin);
    cursor: pointer;
  }
  
  .footer h5 {
    font-size: calc(50% + 1.5vmin);
  }